---
import AnimatedBars from "./AnimatedBars.astro";
import LoadingSpinner from "./LoadingSpinner.astro";
import TidalIcon from "../icons/TidalIcon.astro";
import { getNowPlaying } from "../../lib/server/tidal/tidal.ts";

const data = await getNowPlaying();
const loading = !data || typeof data.isPlaying === "undefined";
---

<div
    class="flex flex-row items-center mb-2 space-x-0 sm:space-x-2 w-full px-5 pb-2 sm:pb-0 sm:px-0"
>
    <div class="flex flex-row items-center">
        {
            loading ? (
                <LoadingSpinner />
            ) : data?.isPlaying ? (
                <>
                    <div class="hidden sm:flex">
                        <AnimatedBars />
                    </div>
                    <div class="flex sm:hidden flex-col space-y-2">
                        <AnimatedBars />
                        <TidalIcon class="h-4 w-4 mt-px text-black dark:text-white" />
                    </div>
                </>
            ) : (
                <TidalIcon class="h-4 w-4 mt-px text-black dark:text-white" />
            )
        }
        <div class="inline-flex flex-col sm:flex-row w-full max-w-full truncate ml-2">
            {
                loading ? (
                    <>
                        <p class="text-zinc-800 dark:text-zinc-200 font-medium">Not Playing</p>
                        <span class="mx-2 text-zinc-500 dark:text-zinc-300 hidden sm:flex">
                            {" "}
                            –{" "}
                        </span>
                        <p class="text-zinc-500 dark:text-zinc-300 max-w-max truncate">Tidal</p>
                    </>
                ) : data?.isPlaying ? (
                    <>
                        <a
                            class="text-zinc-800 dark:text-zinc-200 font-medium max-w-fit w-72 sm:w-60 md:w-40 truncate hover:underline"
                            href={data.songUrl}
                            target="_blank"
                            rel="noopener noreferrer"
                            title={data.title}
                        >
                            {data.title}
                        </a>
                        <span class="hidden sm:flex mx-2 text-zinc-500 dark:text-zinc-300">
                            {" "}
                            –{" "}
                        </span>
                        <p
                            class="text-zinc-500 dark:text-zinc-300 max-w-fit w-72 sm:w-60 md:w-40 truncate"
                            title={data.artist}
                        >
                            {data.artist}
                        </p>
                    </>
                ) : (
                    <>
                        <p class="text-zinc-800 dark:text-zinc-200 font-medium">Not Playing</p>
                        <span class="hidden sm:flex mx-2 text-zinc-500 dark:text-zinc-300">
                            {" "}
                            –{" "}
                        </span>
                        <p class="text-zinc-500 dark:text-zinc-300 max-w-max truncate">Tidal</p>
                    </>
                )
            }
        </div>
    </div>
</div>
